@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'lateef-regular';
        src: url('../fonts/Lateef-Regular.ttf');
    }
    @font-face {
        font-family: 'lateef-bold';
        src: url('../fonts/Lateef-SemiBold.ttf');
    }
    @font-face {
        font-family: 'Caprasimo-Regular';
        src: url('../fonts/Caprasimo-Regular.ttf');
    }
}